* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  color: var(--black);
}

:root {
  --green: #02897a;
  --blue: #4d8dff;
  --purple: #740a76;
  --black: #22343d;
  --white: #ffffff;
  --red: #f03e3d;
}

/* 
Breakpoints:
640px
768px
1024px
1280px
1536px
*/

/* 
Paragraphs:

1)
font-weight: 400
font-size: 16px
line-height: 26px

2)
font-weight: 600
font-size: 16px
line-height: 24px

3)
font-weight: 500
font-size: 16px
line-height: 26px

4)
font-weight: 500
font-size: 16px
line-height: 24px

5)
font-weight: 400
font-size: 16px
line-height: 28px

6)
font-weight: 500
font-size: 16px
line-height: 22px
*/

/* Common */

.section-container {
  padding: 24px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--black);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subsection-title {
  text-align: left;
}

.para-1 {
  margin-top: 50px;
}

.para-2 {
  margin-top: 16px;
}

.para-3 {
  margin-top: 12px;
}

.para-4 {
  margin-top: 8px;
}

.para-5 {
  margin-top: 38px;
}

.para-6 {
  margin-top: 75px;
}

.para-7 {
  margin-top: 44px;
}

.para-8 {
  margin-top: 32px;
}

.para-9 {
  margin-top: 21px;
}

.text-base {
  font-size: 16px;
}

.text-base-2 {
  font-size: 18px;
}

.big-text {
  font-size: 24px;
}

.big-text-2 {
  font-size: 19px;
}

.big-text-3 {
  font-size: 32px;
}

.big-text-4 {
  font-size: 20px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-22 {
  line-height: 22px;
}

.lh-24 {
  line-height: 24px;
}

.lh-26 {
  line-height: 26px;
}

.lh-28 {
  line-height: 28px;
}

.lh-30 {
  line-height: 30px;
}

.lh-35 {
  line-height: 35px;
}

.lh-40 {
  line-height: 40px;
}

.lh-49 {
  line-height: 49px;
}

.text-center {
  text-align: center;
}

.text-color {
  color: var(--green);
}

.text-noncolor {
  color: var(--white);
}

button {
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 24px 10px 24px;
}

.button-contained {
  background-color: var(--green);
  color: var(--white);
  border: none;
}

.button-outlined {
  background-color: transparent;
  color: #173a56;
  border: 1px solid #bcd0e5;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px -2px 8px 0px #00000040;
}

/* CSS specificity */

nav.section-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-logo-container h3 {
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}

.navbar-right-side {
  display: none;
}

.navbar-right-side ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

.navbar-right-side a {
  color: var(--black);
  text-decoration: none;
}

/* Management */

.management-container {
  margin-top: 95px;
}

.management-container {
  margin-top: 150px;
}

/* Customer Support */

.customer-support-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.customer-support-sections {
  display: grid;
  place-items: center;
  gap: 30px;
  grid-template-columns: 0fr 1fr;
  justify-items: start;
  margin-top: 16px;
}

/* Collaborative */

.collaborative-container {
  margin-bottom: 68px;
}

/* Strategies Container */

.strategies-paragraph {
  text-align: center;
  margin-bottom: 40px;
}

.strategies-card-container {
  text-align: left;
  width: 100%;
}

.strategies-card-container img {
  width: 100%;
}

/* Subscription Plans */

.free-card,
.premium-card {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0px 2px 8px 0px #00000040;
  padding: 24px 44px 24px 44px;
  max-width: 186px;
}

.standard-card {
  background-color: var(--green);
  max-width: 186px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 12px;
  padding: 24px 44px 24px 44px;
  box-shadow: 0px 2px 8px 0px #00000040;
}

.price-service {
  font-size: 76px;
  color: var(--green);
  align-self: flex-start;
}

.price-sign {
  color: var(--green);
  align-self: flex-start;
}

.price-service-2 {
  font-size: 76px;
  color: var(--white);
}

.price-sign-2 {
  color: var(--white);
  align-self: flex-start;
}

.price-per-month {
  color: #afafaf;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.price div {
  display: flex;
  flex-direction: column;
}

/* Client Ratings */

.major-mechanics {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
}

.short,
.long {
  display: inline;
}

.designer-card {
  border-radius: 5px;
  border: 1px solid #dedede;
  text-align: left;
  margin-top: 32px;
  padding: 28px 26px 24px;
}

.designer {
  display: grid;
  grid-template-columns: 60px 110px;
  margin-top: 17px;
}

.designer p span {
  color: #02897a;
}

/* 100 Companies */

.companies {
  border-radius: 22px;
  background-color: var(--green);
  max-width: 80%;
  text-align: center;
  margin-top: 100px;
}

.boost-product {
  width: 100%;
  text-align: center;
  color: var(--white);
}

.button-contained-2 {
  background-color: var(--white);
  color: var(--green);
  border: none;
  margin-top: 68px;
}

.companies img {
  text-align: center;
  width: 100%;
  margin-top: 42px;
}

/* Footer */

.footer-contents {
  text-align: center;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.footer-logo-container h3 {
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}

ul {
  list-style-type: none;
}

input {
  width: 325px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #bdd0e5;
}

input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .about-product-cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  .boost-product {
    width: 490px;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
  }

  .designers-container {
    display: flex;
    gap: 22px;
  }

  .companies {
    max-width: fit-content;
  }

  .footer-links {
    display: flex;
    gap: 34px;
    justify-content: center;
  }
}

/* --- Quick & Easy Process --- */

.quick-and-easy-process-container {
  background-image: url(./Assets/quick-and-easy-process/bg-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  margin-bottom: 100px;
  background-size: 100%;
}

.quick-and-easy-process-paragraph {
  margin: 8px auto 40px auto;
  max-width: 542px;
}

/* 
justify-content vs align-items

1) flex-direction: row
justify-content: handle the elements in the div on the ox
align-items: handle the elements in the div on the oy

2) flex-direction: column
justify-content: handle the elements in the div on the oy
align-items: handle the elements in the div on the ox
*/

.freelancing-offers {
  margin-bottom: 32px;
}

.first-freelancing-offer,
.third-freelancing-offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-freelancing-offer,
.fourth-freelancing-offer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first-freelancing-offer img:last-child,
.second-freelancing-offer img:last-child,
.third-freelancing-offer img:last-child,
.fourth-freelancing-offer img:last-child {
  width: 90px;
}

.contact-our-experts-button {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@media (min-width: 441px) {
  .first-freelancing-offer,
  .second-freelancing-offer,
  .third-freelancing-offer,
  .fourth-freelancing-offer {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .first-freelancing-offer,
  .third-freelancing-offer {
    flex-direction: row-reverse;
  }

  .card-container {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .card-container div {
    margin-left: 24px;
  }
}

@media (min-width: 1024px) {
  nav {
    box-shadow: none;
  }
  .hamburger-menu {
    display: none;
  }
  .navbar-right-side {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 32px;
  }
  .header-image {
    max-width: 600px;
  }
  .header-title {
    text-align: left;
    width: 340px;
  }
  .header-description {
    text-align: left;
    width: 458px;
  }
  .header-buttons {
    justify-content: start;
    margin-top: 48px;
  }

  /* Management */

  .management-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 84px;
  }

  /* Customer Support */

  .customer-support-container {
    display: flex;
    gap: 94px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  /* Collaborative */

  .collaborative-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 94px;
    margin-bottom: 150px;
  }

  .collaborative-container div {
    width: 926px;
  }

  /* Strategies */

  .strategies-title {
    text-align: center;
  }

  .strategies-paragraph {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
  }

  /* Subscription Plans */

  .subscription-plan-cards {
    display: flex;
    gap: 72px;
    margin-bottom: 150px;
    padding: 24px 0px 32px 0px;
  }

  .price-title {
    margin-top: 61px;
  }

  /* Client Ratings */

  .designers-container {
    display: flex;
    gap: 64px;
  }

  .major-mechanics {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .short {
    display: inline-block;
    width: 40%;
  }

  .long {
    display: inline-block;
    width: 60%;
  }

  /* Companies */

  .companies {
    border-radius: 22px;
    background-color: var(--green);
    text-align: left;
    margin-top: 100px;
    width: 900px;
    display: flex;
    gap: 20px;
  }

  .boost-product {
    text-align: left;
    padding: 20px 0px 0px 20px;
    width: 460px;
  }

  .button-contained-2 {
    margin: 74px 0px 0px 20px;
    padding: 14px 34px 14px 34px;
    border-radius: 8px;
  }

  br {
    display: none;
  }

  .companies img {
    margin: 0px;
    width: 322px;
  }

  /* Footer */

  .footer-contents {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }

  .footer-logo-container {
    display: flex;
    justify-content: left;
    margin-top: 32px;
  }

  .footer-contents div {
    width: 100%;
    text-align: left;
  }

  .footer-paragraph {
    margin-top: 0;
  }

  .freelancing-offers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 48px;
  }

  .second-freelancing-offer {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .fourth-freelancing-offer {
    grid-column: 2/2;
    grid-row: 1/1;
  }

  .about-product-cards {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

/* Header */

.header-image {
  width: 100%;
  max-width: 440px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  margin-top: 12px;
  text-align: center;
  color: var(--black);
  font-weight: 700;
  line-height: 60px;
  font-size: 36px;
}

.header-description {
  margin-top: 16px;
  text-align: center;
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.watch-video {
  color: var(--green);
  text-decoration: underline;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-buttons {
  margin-top: 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* About Product */

.product-section-container {
  background-image: url(./Assets/bg-background.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100%;
}

.about-product-title {
  text-align: center;
  margin-bottom: 48px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 116px;
}

.about-product-cards div {
  margin-top: 32px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.about-product-cards div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.about-product-cards div h3 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 8px;
}

.about-product-cards div p {
  text-align: center;
}

.about-product-button {
  padding: 14px 32px 14px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.about-management {
  margin-left: auto;
  margin-right: auto;
}

.about-management div h2 {
  margin-top: 8px;
}

.about-management div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 486px;
  margin-top: 24px;
  margin-bottom: 32px;
}

@media (min-width: 1280px) {
  .product-section-container {
    background-image: url(./Assets/bg-background.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-bottom: 120px;
  }

  .about-product-cards {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .about-product-cards div img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }

  .about-product-cards div h3 {
    text-align: left;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 8px;
  }

  .about-product-cards div p {
    text-align: left;
  }

  /* Management */

  .management-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 84px;
    margin-top: 150px;
  }

  /* Collaborative */

  .collaborative-container div {
    width: 486px;
  }

  /* Strategies Container */

  .strategies-title {
    text-align: left;
  }

  .card-container {
    border: 1px solid #afafaf;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .strategies-paragraph {
    text-align: left;
    font-size: 14px;
    margin-bottom: 40px;
  }

  .strategies-card-container {
    display: flex;
    gap: 32px;
  }

  /* Subscription Plans */

  .premium-card-price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .subscription-plan-cards {
    display: flex;
    gap: 72px;
    margin-bottom: 150px;
  }

  /* Companies */

  .companies {
    border-radius: 22px;
    background-color: var(--green);
    text-align: left;
    margin-top: 100px;
    padding-right: 10px;
    width: 900px;
    display: flex;
    gap: 20px;
  }

  .boost-product {
    text-align: left;
    padding: 20px 0px 0px 20px;
    width: 330px;
  }

  .button-contained-2 {
    margin: 74px 0px 0px 20px;
    padding: 14px 34px 14px 34px;
    border-radius: 8px;
  }

  .companies img {
    margin: 0px;
    width: 391px;
  }
}
